@media (max-width: 1199.98px) 
{
    #first-banner .second-text b
    {
        font-size: 52px;
    }

    #first-banner .second-text h1
    {
        font-size: 28px;
    }

    #first-banner .container
    {
        background: url("../img/clouds.png") no-repeat right 60%,  url("../img/phone.png") no-repeat 118% 25px;
    }

    .packets-wrapper .packet
    {
        width: 45%;
        margin: 20px;
    }

    .packets-wrapper
    {
        justify-content: space-evenly;
    }

    .step-wrapper .container
    {
        padding-bottom: 45px;
    }

    #mobile-app .container img
    {
        width: 100%;
    }

    #mobile-app .link-wrapper img
    {
        width: auto;
    }
}

@media (max-width: 991.98px) 
{
    #first-banner .container
    {
        background: url(../img/clouds.png) no-repeat 140% 60%;
        
    }

    #first-banner
    {
        background: url("../img/phone.png") no-repeat 118% 25px;
        background-color: #3a95d4;
        background-size: 45%;
    }

    #first-banner .first-text b
    {
        font-size: 28px;
    }

    #first-banner .first-text img
    {
        margin: 0;
    }

    #first-banner .second-text b
    {
        font-size: 45px;
    }

    #what-is .description
    {
        order: 1;
        margin-top: 55px;
    }

    #what-is .description h2
    {
        text-align: center;
    }

    .protection-wrapper
    {
        justify-content: space-around;
    }

    .protection-wrapper .protection
    {
        margin: 15px;
    }

    #investment-protection
    {
        padding-bottom: 75px;
    }

    .packets-wrapper .packet
    {
        padding: 15px;
        margin: 15px 0px;
    }

    .packets-wrapper .packet p
    {
        margin-bottom: 15px;
        font-size: 14px;
    }

    .packets-wrapper .packet .packet-price
    {
        margin-bottom: 15px;    
    }

    #how-to-start .step-wrapper img
    {
        margin-top: 70px;
    }

    #info .col-sm-12
    {
        text-align: center;
        margin-bottom: 35px;
    }

    #how-to-start .step-wrapper .col-12
    {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #how-to-start .step-wrapper img
    {
        margin: 0;
        width: 80%;
    }
}

@media (max-width: 767.98px) 
{
    #first-banner, #first-banner .container
    {
        background-image: none;
    }

    #first-banner .container
    {
        padding: 15px 0 35px 0;
    }

    .protection-wrapper .protection
    {
        width: 225px;
    }

    .protection-wrapper .protection:last-child
    {
        width: 350px;
    }

    .packets-wrapper .packet:last-child
    {
        width: 350px;
    }

    #how-to-start .step-wrapper img
    {
        width: 100%;
    }

    #mobile-app .link-wrapper img
    {
        width: 45%;
    }
}

@media (max-width: 575.98px) 
{
    #first-banner .row
    {
        margin: 0;
    }

    .packets-wrapper .packet
    {
        width: 100%;
    }

    .input-form
    {
        width: 300px
    }

    .navbar .container
    {
        padding: 0;
    }

    .navbar
    {
        padding-left: 5px;
        padding-right: 5px;
    }

    .logo-icon img
    {
        margin-right: 5px;
    }

    .navbar-brand
    {
        margin: 0;
    }

    .navbar-brand .logo-text
    {
        font-size: 11px;
    }

    .navbar-brand .logo-text span
    {
        font-size: 15px;
    }
    .btn-green.small
    {
        font-size: 12px;
        padding: 10px 15px;
    }

    #first-banner .first-text
    {
        line-height: 35px;
        text-align: center;
    }

    #first-banner .second-text b
    {
        font-size: 40px;
    }

    #first-banner .second-text
    {
        text-align: center;
        margin-bottom: 25px;
    }

    #first-banner .container
    {
        text-align: center;
    }

    #mobile-app .col-img
    {
        display: none;
    }

    .input-form
    {
        background: none;
        display: block;
        padding: 0;
        text-align: center;
    }

    .input-form input
    {
        width: 85%;
        display: block;
        margin: auto;
        padding: 25px;
        border-radius: 25px;
        margin-bottom: 25px;
    }

    #info
    {
        margin-bottom: 25px;
    }

    footer
    {
        padding: 25px 15px;
    }
}