@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@keyframes bouncing
{
    0%  {transform:translateY(0%);  }
    50% { transform:translateY(-15%); }
    100% { transform:translateY(0%); }
}

.bouncing
{
    animation: bouncing 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: normal;
}

body
{
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    color: #000000;
}

button:focus
{
    outline: none;
}

.btn-green
{
    color: #ffffff;
    background-color: #77c344;
    border: none;
    text-transform: uppercase;
    padding: 15px 45px;
    border-radius: 35px;
    font-size: 16px;
    font-weight: 300;
    transition: 0.5s;
}

.btn-green:hover
{
    text-decoration: inherit;
    color: inherit;
}

.btn-green.small
{
    font-size: 14px;
    padding: 10px 25px;
}

.btn-green:hover
{
    box-shadow: 0px 0px 10px rgba(119, 195, 68, 0.9);
}

.title
{
    font-size: 26px;
    text-align: center;
    margin-bottom: 65px;
    font-weight: 900;
}

.title b
{
    color: #3a95d4;
}

.navbar
{
    background-color: #3a95d4;
    height: 100px;
    border-bottom: 1px solid #79b8e3;
}

.navbar-brand
{
    color: #ffffff;
    display: inline-flex;
    align-items: center;
}

.navbar-brand:hover
{
    color: #ffffff;
}

.navbar-brand .logo-text
{
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
}

.navbar-brand .logo-text span
{
    font-weight: 900;
    font-size: 18px;
}

.navbar-brand .logo-text span b
{
    color: #fbcf04;
}

.navbar-brand img
{
    height: 48px;
    width: auto;
    margin-right: 20px;
    transition: 0.4s ease;
}

#first-banner
{
    background-color: #3a95d4;
    
    color: #ffffff;
    background: url("../img/phone.png");
    background-color: #3a95d4;
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-position-y: 25px;
}

#first-banner .container
{
    padding: 100px 0 80px 0;
    background: url("../img/clouds.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 80%;
}

#first-banner .first-text b
{
    font-size: 31px;
}

#first-banner .first-text
{
    font-size: 19px;
    line-height: 50px;
}

#first-banner .first-text img
{
    margin: 0 10px;
}

#first-banner .second-text b
{
    font-size: 68px;
}

#first-banner .second-text
{
    font-size: 28px;
    font-weight: 900;
    margin: 35px 0 65px 0;
}

#first-banner .second-text span
{
    margin-left: 5px;
    font-size: 38px;
    color: #fbcf04;
}

#what-is
{
    padding: 100px 0;
}

#what-is .description
{
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#what-is .description h2
{
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 20px;
}

#what-is .description p
{
    font-size: 16px;
}

#what-is .photo img
{
    box-shadow: 35px 35px 15px rgba(0, 0, 0, 0.1);
}

#investment-protection
{
    padding-bottom: 150px;
}

.protection-wrapper
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 35px;
}

.protection-wrapper .protection
{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.protection-wrapper .protection h3
{
    font-size: 18px;
    font-weight: 900;
    margin: 25px 0;
}

.protection-wrapper .protection b
{
    font-weight: 900;
}

#packets-sect
{
    margin-bottom: 115px;
}

.packets-wrapper
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.packets-wrapper .packet
{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: #ffffff;
    background-image: url("../img/icons/packets/verify.png");
    background-repeat: no-repeat;
    background-position-x: right;
    padding: 35px;
}

.packets-wrapper .packet .packet-icon
{
    text-align: center;
    margin: 15px 0 35px 0;
}

.packets-wrapper .packet h3
{
    text-align: left;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 35px;
}

.packets-wrapper .packet p
{
    margin-bottom: 25px;
    font-size: 18px;
}

.packets-wrapper .packet .packet-price
{
    font-size: 18px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.packets-wrapper .packet .packet-price b
{
    display: block;
    font-size: 27px;
    font-weight: 900;
}

.packets-wrapper .packet .btn-green
{
    width: 200px;
}

#how-to-start .step-count
{
    color: #d3d3d3;
    font-size: 200px;
    display: block;
    font-weight: 900;
}

#how-to-start .step-description
{
    line-height: 30px;
}

#how-to-start .step-description a
{
    color: #77c344;
    text-decoration: underline;
    transition: 0.5s;
}

#how-to-start .step-description a:hover
{
    color: #3a95d4;
}

#how-to-start .step-description b
{
    font-weight: 900;
}

#how-to-start .step-wrapper:nth-child(2), #how-to-start .step-wrapper:nth-child(3)
{
    padding: 45px 0;    
}

#how-to-start .step-wrapper:nth-child(2)
{
    background-color: #e9e9e9;
}

#how-to-start .step-wrapper:nth-child(3)
{
    background-color: #f2f2f2;
}